*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 100%, 0.75);
}
.container{
    width: 900px;
    display: flex;
    border-radius: 10px;
}
.card{
    padding: 50px;
}
h1 {
    color: hsl(0, 0%, 95%);
    margin-bottom: 40px;
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
}
p {
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 70px;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    line-height: 1.4rem;
}
.help {
    width: 120px;
    height: 40px;
    background-color: #fff;
    border: 3px solid white;
    text-align: center;
    line-height: 35px;
    border-radius: 20px;
    font-family: 'Outfit', sans-serif;
}
.help:hover {
    background-color: rgba(255,255, 255, 0.5);
    color: #000;
}

.container .box:nth-child(1) {
    background-color: hsl(31, 77%, 52%);
    border-radius: 13px 0 0 13px;
}
.container .box:nth-child(2) {
    background-color: hsl(184, 100%, 22%);
}
.container .box:nth-child(3){
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 13px 13px 0;
}
.help-1 {
    color:   hsl(31, 77%, 52%);
}
.help-2 {
    color: hsl(184, 100%, 22%);
}
.help-3 {
    color: hsl(179, 100%, 13%);
}
.img {
    margin-bottom: 30px;
}